# Database
DATABASE_NAME = docverifier
DATABASE_USER = postgres
DATABASE_PASSWORD = postgres
DATABASE_HOST = localhost
DATABASE_PORT = 5432

SECRET_KEY = your_secret_key_here
DEBUG = True

# Google Authentication
GOOGLE_CLIENT_ID =
GOOGLE_CLIENT_SECRET =

ACCESS_TOKEN_EXPIRE_MINUTES =
REFRESH_TOKEN_EXPIRE_MINUTES =

# AWS S3 Settings
AWS_ACCESS_KEY_ID =
AWS_SECRET_ACCESS_KEY =
AWS_STORAGE_BUCKET_NAME =
AWS_S3_REGION_NAME = us-east-1
